<div class="loginbox bg-white">
	<div class="loginbox-title">请登录</div>
	
	<div class="loginbox-or">
		<div class="or-line"></div>
	</div>
	<%= form_for(:session, url: login_path) do |f| %> 

	<div class="loginbox-textbox">
		<%= f.text_field :user_code, class: 'form-control' %>
	</div>
	<div class="loginbox-textbox">
		<%= f.password_field :password, class: 'form-control' %>
	</div>
	
	<div class="loginbox-submit">
		<%= f.submit "Log in", class: "btn btn-primary btn-block" %>
	</div>
	<% end %>

</div>
